<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDgT8YvXG1zROFmZbxhW4D0LgUd8ONrr2w</string>
	<key>GCM_SENDER_ID</key>
	<string>1085594312504</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SRM.SwifTecInventory</string>
	<key>PROJECT_ID</key>
	<string>swiftec-inventory-tracker</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftec-inventory-tracker.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1085594312504:ios:dfade12e9b5f4c5b23abcd</string>
</dict>
</plist>